# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

{%- if impl == "mirrormaker" %}
name: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} MirrorMaker Integrator
display-name: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} MirrorMaker Integrator
summary: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} MirrorMaker Integrator
description: The Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} MirrorMaker Integrator charm enables the management of Apache Kafka Connect tasks to mirror and replicate topics from one Charmed Apache Kafka{{ "" if substrate == "vm" else " K8s" }} application to another.
{%- elif impl == "s3" %}
name: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} S3 Integrator
display-name: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} S3 Integrator
summary: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} S3 Integrator
description: The Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} S3 Integrator charm enables the management of Apache Kafka Connect tasks to sink data from a Charmed Apache Kafka{{ "" if substrate == "vm" else " K8s" }} application to an S3-compatible storage volume.
{%- elif impl == "opensearch" %}
name: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} OpenSearch Integrator
display-name: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} OpenSearch Integrator
summary: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} OpenSearch Integrator
description: The Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} OpenSearch Integrator charm enables the management of Apache Kafka Connect tasks to sink data from a Charmed Apache Kafka{{ "" if substrate == "vm" else " K8s" }} application to a Charmed OpenSearch{{ "" if substrate == "vm" else " K8s" }} application.
{%- elif impl == "mysql" %}
name: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} MySQL Integrator
display-name: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} MySQL Integrator
summary: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} MySQL Integrator
description: The Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} MySQL Integrator charm enables the management of Apache Kafka Connect tasks to transfer data to/from a Charmed MySQL{{ "" if substrate == "vm" else " K8s" }} application and a Charmed Apache Kafka{{ "" if substrate == "vm" else " K8s" }} application over JDBC.
{%- elif impl == "postgresql" %}
name: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} PostgreSQL Integrator
display-name: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} PostgreSQL Integrator
summary: Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} PostgreSQL Integrator
description: The Apache Kafka Connect{{ "" if substrate == "vm" else " K8s" }} PostgreSQL Integrator charm enables the management of Apache Kafka Connect tasks to transfer data to/from a Charmed PostgreSQL{{ "" if substrate == "vm" else " K8s" }} application and a Charmed Apache Kafka{{ "" if substrate == "vm" else " K8s" }} application over JDBC.
{%- endif %}

source: https://github.com/canonical/template-connect-integrator
issues: https://github.com/canonical/template-connect-integrator/issues

links:
  plugin-url:
{%- if impl in ("mysql", "postgresql") %}
    - https://github.com/Aiven-Open/jdbc-connector-for-apache-kafka/releases/download/v6.10.0/jdbc-connector-for-apache-kafka-6.10.0.tar
{%- elif impl == "opensearch" %}
    - https://github.com/Aiven-Open/opensearch-connector-for-apache-kafka/releases/download/v3.1.1/opensearch-connector-for-apache-kafka-3.1.1.tar
{%- elif impl == "s3" %}
    - https://github.com/Aiven-Open/cloud-storage-connectors-for-apache-kafka/releases/download/v3.1.0/s3-sink-connector-for-apache-kafka-3.1.0.tar
{%- endif %}

website:
  - https://github.com/canonical/template-connect-integrator
maintainers:
  - Canonical Data Platform <data-platform@lists.launchpad.net>
{%- if substrate == "vm" %}
series:
  - jammy
{%- else %}
assumes:
  - k8s-api
{%- endif %}

peers:
  peer:
    interface: peer

requires:
  connect-client:
    interface: connect_client
    optional: true
    limit: 1
{% if data_interface != 'kafka_client' %}
  data:
    interface: {{ data_interface }}
    optional: true
    limit: 1
{% else %}
  source:
    interface: {{ data_interface }}
    limit: 1
  target:
    interface: {{ data_interface }}
    limit: 1
{% endif %}

resources:
  connect-plugin:
    type: file
    filename: "plugin.tar"
    description: |
      Apache Kafka Connect connector plugin, which will be served by this integrator through a REST endpoint.
      The plugin should be packed into a TAR archive, including all required Java libs and the connector implementation.
      The archive should not contain any libraries provided by the Apache Kafka Connect runtime.
{%- if substrate == "k8s" %}
  base-image:
    type: oci-image
    description: Ubuntu Python OCI Image
    upstream-source: ubuntu/python:3.12-24.04_stable

containers:
  plugin-server:
    resource: base-image
{%- endif %}
